<!--
    <copyright file="Edit.cshtml" company="Ellucian">
        Copyright 2020 - 2021 Ellucian Company L.P. and its affiliates.
    </copyright>
-->
@model WebAdminUI.Areas.ElectronicDegree.Models.Majors.AddMajorsViewModel

@{
    ViewBag.Title = WebAdminUI.Resources.ElectronicDegree.Major.lblMajors;
    var userName = ViewBag.Account as PowerCampus.Entities.Account;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formEditMajor" }))
{
    <br />
    <div class="esg-page-header">
        <h1 class="esg-page-header__title">@WebAdminUI.Resources.ElectronicDegree.Major.lblMajors</h1>
    </div>
    <div id="formAddSigners" class="esg-card--panel">
        <div class="esg-card--panel__body">
            <div class="esg-card--panel__content">
                <div class="esg-container">
                    <div class="esg-col-lg-12 esg-col-md-12 esg-col-sm-12 esg-col-xs-12">
                        <h4 class="esg-form__label">@WebAdminUI.Resources.ElectronicDegree.Major.lblEditMajor</h4> <br />
                        <hr /><br />
                    </div>
                </div>
                <div class="esg-container">
                    <div class="esg-col-lg-12 esg-col-md-12 esg-col-sm-12 esg-col-xs-12">
                        <h4 class="esg-form__label">@WebAdminUI.Resources.ElectronicDegree.Major.lblMajor</h4> <br />
                    </div>
                    <div class="esg-col-lg-12 esg-col-md-12 esg-col-sm-12 esg-col-xs-12">
                        <div class="esg-container">
                            <div class="esg-col-lg-6 esg-col-md-6 esg-col-sm-6 esg-col-xs-12">
                                <div id="divCve" class="esg-form__group esg-has-feedback">
                                    @Html.LabelFor(m => m.Cve, new { @class = "esg-form__label esg-is-required" })<br />
                                    <div class="esg-form__input-group">
                                        @Html.TextBoxFor(m => m.Cve, new { @class = "esg-form__input", @id = "Cve", @required = "required", maxLength = 7 })
                                        @Html.ValidationMessageFor(m => m.Cve, "", new { @class = "text-danger", @style = "color:red" })
                                        @Html.LabelFor(m => m.CveValid, new { @class = "esg-form__label", @id = "CodeValid", @style = "color:red; display:none" })
                                        @Html.LabelFor(m => m.CveInvalidLength, new { @class = "esg-form__label", @id = "CveInvalidLength", @style = "color:red; display:none" })
                                        <div id="divCveErr" class="esg-form__feedback-icon esg-icon__container" style="display:none">
                                            <svg class="esg-icon esg-icon--error">
                                                <use xlink:href="#icon-error"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="esg-col-lg-6 esg-col-md-6 esg-col-sm-6 esg-col-xs-12">
                                <div id="divMajorName" class="esg-form__group esg-has-feedback">
                                    @Html.LabelFor(m => m.MajorName, new { @class = "esg-form__label esg-is-required" })<br />
                                    <div class="esg-form__input-group">
                                        @Html.TextBoxFor(m => m.MajorName, new { @class = "esg-form__input", @id = "MajorName", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.MajorName, "", new { @class = "text-danger", @style = "color:red" })
                                        <div id="divMajorNameErr" class="esg-form__feedback-icon esg-icon__container" style="display:none">
                                            <svg class="esg-icon esg-icon--error">
                                                <use xlink:href="#icon-error"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="esg-container">
                            <div class="esg-col-lg-6 esg-col-md-6 esg-col-sm-6 esg-col-xs-12">
                                <div id="divEducationLevel" class="esg-form__group esg-has-feedback">
                                    @Html.LabelFor(m => m.EducationLevel, new { @class = "esg-form__label esg-is-required" })<br />
                                    <div class="esg-form__input-group">
                                        @Html.DropDownListFor(m => m.EducationLevelId, new SelectList(Model.EducationLevel, "Value", "Description"), "", new { @class = "esg-form__input", @id = "EducationLevel", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.EducationLevelId, "", new { @class = "text-danger", @style = "color:red" })
                                        <div id="divEducationLevelErr" class="esg-form__feedback-icon esg-icon__container" style="display:none">
                                            <svg class="esg-icon esg-icon--error">
                                                <use xlink:href="#icon-error"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="esg-col-lg-6 esg-col-md-6 esg-col-sm-6 esg-col-xs-12">
                                @Html.LabelFor(m => m.LegalBaseCatalog, new { @class = "esg-form__label" })<br />
                                <div id="divLegalBaseId" class="esg-form__group">
                                    @Html.DropDownListFor(m => m.LegalBaseId, new SelectList(Model.LegalBaseCatalog, "Id", "MediumDescription"), "", new { @class = "esg-form__input", @id = "LegalBaseId", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.LegalBaseId, "", new { @class = "text-danger", @style = "color:red" })
                                    <div id="divLegalBaseIdErr" class="esg-form__feedback-icon esg-icon__container" style="display:none">
                                        <svg class="esg-icon esg-icon--error">
                                            <use xlink:href="#icon-error"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="esg-card--panel__content" style="text-align:end">
                <div class="eds-button-group" role="group" style="margin-top:1rem" aria-label="button group">
                    <button class="eds-button eds-button--secondary" id="btnCancel" type="button">@WebAdminUI.Resources.ElectronicDegree.Major.lblCancel</button>
                    <button class="eds-button eds-button--primary" id="btnSave" type="button">@WebAdminUI.Resources.ElectronicDegree.Major.lblSave</button>
                </div>
            </div>
            <div id="divError" class="esg-card--panel__content" style="display:none">
                <div class="esg-container">
                    <div class="esg-alert esg-alert--error" role="alert">
                        <span class="esg-alert__icon-wrapper">
                            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon esg-icon--error-dark">
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </span>
                        </span>
                        <div class="esg-alert__message">@WebAdminUI.Resources.ElectronicDegree.Signer.lblError</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Overlaydiv" class="esg-modal-overlay" style="display:none; position:fixed; top:0; bottom:0; left:0; right:0;"></div>
    <div id="Processing" class="esg-modal-dialog" style="display:none;">
        <div class="esg-spinner-wrapper" style="position:absolute;">
            <div class="esg-spinner"></div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        var majorId = '@userName.MajorId';
        var urlGetEditMajor = '@Url.Action("Set","Majors")';
        var urlMajorIndex = '@Url.Action("Index","Majors")';
        var urlUnauthorized = '@Url.RouteUrl("ErrorUnauthorized")';
        var urlUpdateMajor = '@Url.Action("Update","Majors")';
        var urlValidateCode = '@Url.Action("ValidateCode","Majors")';
        var userName = '@userName.UserName';
    </script>
    @Scripts.Render("~/bundles/ED/Majors")
}