<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="esg-breadcrumb">
        <ol class="esg-breadcrumb__list">
            <li class="esg-breadcrumb__list-item"><a class="esg-breadcrumb__link" href="@Url.RouteUrl("MenuAcademicRecords")">@WebAdminUI.Resources.ElectronicCertificate.Generate.lblAcademicRecords</a></li>
            <li class="esg-breadcrumb__list-item"> <a class="esg-breadcrumb__link" href="@Url.RouteUrl("MenuElectronicCertificate")">@WebAdminUI.Resources.ElectronicCertificate.Generate.lblElectronicCertificate</a></li>
            <li class="esg-breadcrumb__list-item esg-is-active"> @WebAdminUI.Resources.ElectronicCertificate.Generate.lblGenerateElectronicCertificates</li>
        </ol>
    </div>
</div>