<!--
    <copyright file="Index.cshtml" company="Ellucian">
        Copyright 2017 - 2021 Ellucian Company L.P. and its affiliates.
    </copyright>
-->

@{
    ViewBag.Title = WebAdminUI.Resources.General.MenuMain.Title;
}

<div class="esg-page-header">
    <div class="esg-page-header__core-wrapper">
        <div class="esg-page-header__text-wrapper">
            <h1 class="esg-page-header__title">   @WebAdminUI.Resources.General.MenuMain.Title</h1>
        </div>
    </div>
</div>
<div class="esg-row">
    <div class="esg-col-md-6">
        <div class="esg-pattern-wrap">
            <div class="esg-card">
                <span class="esg-icon__container">
                    <svg class="esg-icon">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
                <div class="esg-icon__label">
                    <a href="@Url.RouteUrl("MenuAcademicRecords")">
                        <h3>@WebAdminUI.Resources.General.MenuMain.AcademicRecords</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="esg-col-md-6">
        <div class="esg-pattern-wrap">
            <div class="esg-card">
                <span class="esg-icon__container">
                    <svg class="esg-icon">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
                <div class="esg-icon__label">
                    <a href="@Url.RouteUrl("MenuCashReceipts")">
                        <h3>@WebAdminUI.Resources.General.MenuMain.CashReceipts</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>